<template name="tools">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Data Import/Export</div>
            <div class="panel-body">
                <ul class="list-group text-center">
                    <li class="list-group-item text-center">
                        <button type="button" id="caspioGetRecords" class="btn btn-success padded">Import Caspio Records
                        </button>
                        <button type="button" id="getFlights" class="btn btn-success padded">Import Flight info
                        </button>
                        <button type="button" id="getAirlines" class="btn btn-success padded">Import Airline info
                        </button>
                        <button type="button" id="getAirports" class="btn btn-success padded">Import Airprot info
                        </button>
                    </li>
                    <li class="list-group-item">
                        <div class="panel panel-default">
                            <div class="panel-heading">Data Stats</div>
                            <div class="panel-body">
                                <ul class="list-inline text-center">
                                    <li class="list-group-item">
                                        Client Records: {{clientImportedCount}}
                                    </li>
                                    <li class="list-group-item">
                                        Flight Records: {{flightImportedCount}}
                                    </li>
                                    <li class="list-group-item">
                                        Airline Records: {{airlineImportedCount}}
                                    </li>
                                    <li class="list-group-item">
                                        Airport Records: {{airportImportedCount}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Agent Accounts Menu</div>
            <div class="panel-body">
                <ul class="list-group text-center">
                    <li class="list-group-item">
                        {{> generateAgents}}
                    </li>
                    <li class="list-group-item">
                        {{> generateAgent}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Agent Accounts Stats</div>
            <div class="panel-body">
                <ul class="list-inline text-center">
                    <li class="list-group-item">
                        Amount: {{agentCount}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">All Agent Account
                <button class="btn" data-toggle="collapse" data-target="#showAgents">I/O</button>
                <a href="{{pathFor 'outputAccounts'}}"> Download All Agent Accounts</a>
            </div>
            <div class="panel-body collapse" id="showAgents">
                <ul class="list-group text-center">
                    {{#each agentCredentials}}
                        {{>agentCredential}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <!--<div class = "panel">-->
    <!--<button type="button" id="testButton" class="btn btn-success btn-padded">test</button>-->
    <!--<button type="button" id="testButton2" class="btn btn-success btn-padded">test2</button>-->
    <!--</div>-->
</template>

<template name="generateAgents">
    <ul class="list-inline text-center">
        <li>
            Amount of agents to generate with a pattern (agent#) :
            <input type="text" name="amountOfAgents" id="amountOfAgents" value="{{amountOfAgents}}" pattern="[0-9]*"
                   size="3">
        </li>
        <li>
            <button type="button" id="generateAgents" class="btn btn-success padded">
                Generate {{amountOfAgents}} Agents
            </button>
        </li>
    </ul>
</template>
<template name="generateAgent">
    Custom agent username :
    <input type="text" name="usernameOfAgent" id="usernameOfAgent" size="15">
    <button type="button" id="generateAgent" class="btn btn-success padded">
        Generate {{usernameOfAgent}} Agent
    </button>
</template>

<template name="agentCredential">
    <li class="list-group-item">
        <span id="{{_id}}" class="label label-success">{{username}}</span>
        <span id="{{_id}}" class="label label-danger">{{password}}</span>
    </li>
</template>