<template name="manageIndex">
    <div class="container">
        <div class="jumbotron">
            <h1>WELCOME</h1>
            <p>This page will help you control the operations</p>
        </div>
        <div class="col-xs-12 text-center">
            {{#unless currentUser}}
                <h1>Please log in</h1>
            {{/unless}}
        </div>
    </div>
</template>
