<template name="agentFlow">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Tools</div>
            <div class="panel-body">
                <ul class="list-inline text-center">
                    <li>
                        <button type="button" id="resetBtn" class="btn btn-danger btn-lg padded">Clear</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Search Client Record</div>
            <div class="panel-body">
                <div class="col-xs-12 text-center">Please enter client details</div>
                <div class="col-xs-12 text-center">
                    <form class="form-horizontal search-flights" role="form">
                        <div class="form-group form-group-xs-12">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4">
                                {{> inputAutocomplete settings=autoFillSettings
                                id="clientPhone"
                                class="form-control input text-center"
                                placeholder="start typing client phone number"
                                }}
                            </div>
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-success">Search</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default {{#unless clientFlights}} hidden {{/unless}}">
            <div class="panel-heading">Select Flight</div>
            <div class="panel-body">
                <ul class="list-group list-inline text-center">
                    {{#each clientFlights}}
                        {{>clientFlight}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="panel panel-default {{#unless selectedFlight}} hidden {{/unless}}">
            <div class="panel-heading">Selected Flight Details
                <button class="btn" data-toggle="collapse" data-target="#showSelectedFlightData">I/O</button>
            </div>
            <div class="panel-body collapse" id="showSelectedFlightData">
                {{> quickForm collection="Flights" doc=selectedFlightData id="flightRecord" type="readonly"}}
            </div>
        </div>
        <div class="panel panel-default {{#unless selectedFlight}} hidden {{/unless}}">
            <div class="panel-heading">Selected Flight Client Record Details Summary
                <button class="btn" data-toggle="collapse" data-target="#showSelectedFlightShort">I/O</button>
            </div>
            <div class="panel-body collapse in" id="showSelectedFlightShort">
                <ul class="list-group">

                    <li class="list-group-item">First Name: {{prefillFormData.client.firstname}} </li>
                    <li class="list-group-item">Last Name: {{prefillFormData.client.surname}}</li>
                    <li class="list-group-item">e-mail: {{prefillFormData.client.email}} </li>
                    <li class="list-group-item">Phone Number: {{prefillFormData.client.telephone.number}}</li>
                    <!--<li class="list-group-item">Date of Birth: {{prefillFormData.dob}} </li>-->
                    <li class="list-group-item">Airline: {{prefillFormData.airline}}</li>
                    <li class="list-group-item">Flight: {{prefillFormData.flightNumber}} </li>
                    <li class="list-group-item">Scheduled Departure Date: {{prefillFormData.scheduledDepartureDate}}</li>
                    <li class="list-group-item">Flight Value: {{prefillFormData.flight_value}}</li>

                </ul>
            </div>
        </div>
        <div class="panel panel-default {{#unless selectedFlight}} hidden {{/unless}}">
            <div class="panel-heading">Selected Flight Client Record Details Full
                <button class="btn" data-toggle="collapse" data-target="#showSelectedFlight">I/O</button>
            </div>
            <div class="panel-body collapse" id="showSelectedFlight">
                {{> quickForm collection="ClientFlights" doc=selectedFlight id="clientFlightRecord" type="readonly"}}
            </div>
        </div>
        <div class="panel panel-default {{#unless selectedFlightId}} hidden {{/unless}}">
            <div class="panel-heading">Claims</div>
            <div class="panel-body">
                <ul class="list-group list-inline text-center">
                    <li class="list-group-item">
                        <a href="#" id="newClaimLink"> + New Claim </a>
                    </li>
                    {{#each clientClaims}}
                        {{>clientClaim}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="panel panel-default {{#unless selectedClaim}} hidden {{/unless}}">
            <div class="panel-heading" id="editClaimFormHead">Edit Selected Claim Form
                <button class="btn" data-toggle="collapse" data-target="#editClaimFormBody">I/O</button>
            </div>
            <div class="panel-body collapse in" id="editClaimFormBody">
                {{> quickForm collection="ClientForms" doc=selectedClaim id="updateClaimForm" type="update"}}
            </div>
        </div>
        <div class="panel panel-default {{#unless newMode}} hidden {{/unless}}">
            <div class="panel-heading" id="createClaimFormHead">Fill the new Claim Form
                <button class="btn" data-toggle="collapse" data-target="#createClaimFormBody">I/O</button>
            </div>
            <div class="panel-body collapse in" id="createClaimFormBody">
                {{#autoForm collection="ClientForms" doc=insertData id="insertClaimForm" type="insert"}}
                    {{#each afFieldNames omitFields="uploads"}}

                        {{> afQuickField name=this.name options=afOptionsFromSchema}}

                    {{/each}}
                    <button type="submit" class="btn btn-primary">Insert</button>
                {{/autoForm}}
            </div>
        </div>
        <div class="panel panel-default {{#unless selectedClaim}} hidden {{/unless}}">
            <div class="panel-heading" id="uploadFilesHead">File Upload
                <button class="btn" data-toggle="collapse" data-target="#uploadFilesBody">I/O</button>
            </div>
            <div class="panel-body collapse in text-center " id="uploadFilesBody">
                {{>imageUploader}}
            </div>
        </div>
    </div>


</template>


<template name="userPill">
    <h5>{{phone}} <span class="label label-default">{{name}}</span></h5>
</template>

<template name="clientFlight">
    <li class="list-group-item padded {{#if flightSelected _id}} active {{/if}} selectFlight" id="{{_id}}">
        {{# if checkForCompletedClaims _id}} <h4><span id="{{_id}}" class="label label-danger">COMPLETE</span>
        </h4>{{/if}}
        <h6 id="{{_id}}">{{name}}</h6>
        <p id="{{_id}}">
            <span id="{{_id}}" class="label label-primary">{{airline}} - {{flight_number}}</span>
            <span id="{{_id}}" class="label label-success">{{shortDate scheduled_departure_date}}</span>
        </p>
    </li>
</template>

<template name="clientClaim">
    <li class="list-group-item {{#if claimSelected _id}} active {{/if}} selectClaim text-center padded" id="{{_id}}">
        <p id="{{_id}}"><span id="{{_id}}" class="label label-info">{{shortDateTime startedDate}}</span></p>
        <p id="{{_id}}"><span id="{{_id}}" class="label label-primary">{{_id}}</span></p>
    </li>
</template>

<template name="imageUploader">

   <span style="font-size:15px; margin-left:10px;">
    <div class="form-group">
        <label for="selectFile">Select</label>
        <input type="file" class="uploadFile" id="uploadFile">
        <p class="help-block">Upload image here.</p>
    </div>
            <div class="progress text-center">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0"
                     aria-valuemax="100" style="width: {{progress}}%;">
                    <span class="sr-only">{{progress}}% Complete</span>
                </div>

            </div>
    </span>
    {{#if isUploading}} <h3> UPLOADING... </h3> {{/if}}
</template>