<template name="homeIndex">
    <div class="container" id="section-1">
        <div id="claim">
            <div class="row">
                <div class="seven columns">

                    <h3 id="primary"><b>CLAIM UP TO £510* IN FLIGHT DELAY COMPENSATION!</b></h3>

                    <!--<h3>HAVE YOU BEEN DELAYED FOR 3 HOURS OR MORE IN THE LAST 6 YEARS?</h3>-->

                    <h5><img src="images/plane.svg" width="30" alt="money icon"> Flight
                        <b> delayed 3 hours </b> or more?
                        <br>
                        <img src="images/clock.svg" width="30" alt="money icon"> Was it within the last <b> 6 years </b><br>
                        <img src="images/money.svg" width="30" alt="money icon"> Claim
                        <b> up to £510* now </b> with ClaimJet</h5>

                    <!--<p>You could be owed up to £510* compensation per person on the flight you make a claim for. Our flight-->
                    <!--delay experts will ensure your claim is processed quickly and you get the compensation you deserve.</p>-->
                    <p>Tired of Airlines rejecting your claim?</p>

                    <p>
                        <a class="button button-primary" href="#mainform">How do I claim?</a>
                        <a class="button button-primary" href="#faq">FAQ</a>
                    </p>
                </div>
                <div class="four columns offset-by-one">
                    <div id="mainform"
                         style="border-radius:8px;padding:1em;background-color: #fff;border:5px solid #333;">
                        <h6 class="u-center" style="font-size:1.1em;color:#222;"><b>START YOUR FLIGHT CLAIM</b></h6>

                        <p class="u-center">
                            By starting your claim you agree to our <a href="#" data-toggle="modal"
                                                                       data-target="#termsModal">Terms</a> and <a
                                href="#" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="points">
        <div class="container">
            <div class="row">
                <div class="eight columns offset-by-two content-box">
                    <h5><b>CLAIM UP TO £510* COMPENSATION PER PERSON</b></h5>

                    <p>
                        If you were delayed by more than
                        <b>three</b> hours or your flight was cancelled, you can claim. EU
                        rule
                        261/2004 states that: you can be entitled to between £90 and £510* in delay compensation - and you
                        can
                        complete a claim online in minutes!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="eight columns offset-by-two content-box">
                    <h5><b>IF YOU DON'T WIN, YOU DON'T PAY - OUR NO WIN, NO FEE GUARANTEE</b></h5>

                    <p>
                        We offer our services for flight delay compensation on a no win no fee basis. It's risk free and you
                        could stand to get a good chunk of compensation. Delayed Again will cover all related fees fees
                        (court
                        fee of £150) and fees for reports (averaging £750) - best of all, there's no initial fee to pay!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="eight columns offset-by-two">
                    <h5><b>FLIGHT DELAY COMPENSATION EXPERTS</b></h5>

                    <p>
                        Our online claim form will check your eligibility for making a claim. If your case passes a few
                        checks,
                        our team of expert solicitors will take care of your claim on your behalf. You won't be charged
                        a penny
                        unless we recover compensation for you. Even then, we only take a small percentage of your total
                        claim,
                        plus a small admin fee!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="section-3">
        <div class="row">
            <div class="twelve columns" style="margin-bottom:4em;">
                <h5 class="u-center">FLIGHT DELAY COMPENSATION</h5>

                <h3 class="u-center"><b>Delayed Again - Claim the Compensation You Deserve.</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <h5><b>FLIGHT DELAY COMPENSATION</b></h5>

                <p>Thanks to EU legislation, you are (and have been for quite some time) eligible to claim compensation for
                    flight delays, flight over-booking, flight cancellations, flight re-routing and denied boarding. However
                    this only applies if:
                </p>

                <p>
                    1. Your flight departed from any airport in the EU, Norway, Switzerland, or Iceland.
                </p>

                <p>
                    2. Your flight arrived in the EU with any EU carrier or one from Norway, Switzerland or Iceland.
                </p>

                <p>
                    Under EU regulations, specifically article 261/2004, passengers are entitled to claim flight delay
                    compensation up to a maximum of £510* / €600 - best of all, you can claim this back if your flight meets
                    any of this conditions and happened within the last six years!
                </p>
            </div>
            <div class="six columns">
                <h5><b>OUR SERVICE</b></h5>

                <p>
                    Our team of flight compensation recovery experts are here to help you claim the compensation you
                    deserve. We know that the process can seem quite daunting, going up against big airlines as an
                    individual can not only be difficult, but it also means you can get ignored. We'd like to assure you
                    that this won't happen with us - airlines must respond to claims which we file on your behalf. If
                    airlines have wasted your time, money and caused you delays then why not file a flight delay
                    compensation claim today?
                </p>

                <p style="line-height: 1.5em;font-size: 0.9em;font-weight:600;">
                    Holidays are meant to allow you to unwind from the modern stresses of day to day living and you
                    shouldn't be left out of pocket. When you book with an airline, they make a commitment to get you to
                    your destination on time. If they somehow fail to do this, you are more than within your right to file a
                    claim. If your flight was delayed for more than three hours you could be eligible for compensation of up
                    to £510*!
                </p>

            </div>
        </div>
        <div class="row">
            <div class="twelve columns u-center">
                <a class="button button-primary" href="#mainform">Get Started</a>
                <a class="button button-primary" href="#faq">Can I Claim?</a>
            </div>
        </div>
    </div>
    <div class="container" id="section-4">
        <div class="row">
            <div class="six columns">
                <h5><b>Flight Delays</b></h5>

                <p>
                    A flight delay can be seen in the following two ways: a flight which departs from any airport within the
                    EU (European Union), regardless of the airline or when an EU airline arrives at an airport situated
                    within the EU (specifically: Iceland, Liechtenstein, Norway and Switzerland).
                </p>

                <h5><b>Flight Cancellation</b></h5>

                <p>
                    The amount of available compensation for cancelled flights will depend on the distance travelled (in
                    kilometres) and whether or not your flight was scheduled to land in the EU.
                </p>
                <h5><b>Denied Boarding</b></h5>

                <p>
                    If you have been denied boarding by the airline when you followed all boarding procedures correctly, you
                    can claim denied boarding compensation. If you arrived and checked in on time at the correct desk with
                    proper conduct and you were told that were not allowed to board or fly then you have been unrightfully
                    denied boarding and should start a claim against the airline in question.
                </p>
            </div>
            <div class="six columns">
                <h5><b>Re-Routed Flights</b></h5>

                <p>Re-routing is quite common in the aviation industry, and while essential in some cases you can still
                    claim compensation for re-routed flights. There are two types of flight re-routing, both of which are
                    eligible for a compensation claim to be filed:
                </p>

                <p>
                    1. If you reached your planned destination with a different flight number than the original one on your
                    ticket. This type of re-routing often means you'll be delayed from a anything to a few minutes to a
                    number of hours.
                </p>

                <p>
                    2. If you reached your destination by travelling along a different route than originally planned by your
                    airline. To claim compensation for this type of re-routing your delay must have exceeded 3 hours.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="twelve columns u-center">
                <a class="button button-primary" href="#mainform">Get Started</a>
                <a class="button button-primary" href="#faq">Read More</a>
            </div>
        </div>
    </div>
    <div id="faq">
        <div class="container">
            <div class="row">
                <div class="four columns offset-by-four">
                    <div class="content-box-1">
                        <h5 class="u-center">Making your claim</h5>

                        <h3 class="u-center"><b>FAQ</b></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <h5><b>How Much Do I Pay For Your Service?</b></h5>

                    <p>
                        You will only have to pay if your claim is successful. For successful claims, you will have to pay
                        our
                        fee, however the maximum charge is at 27% + £25 per person* (plus Applicable VAT).
                    </p>
                </div>
                <div class="six columns">
                    <h5><b>What Documents Do I Need To Make a Claim?</b></h5>

                    <p>
                        To begin your claim from an airline, you must ensure you have relevant information for us to help
                        you.
                        Please provide your booking details, including information such as the airline company, date of the
                        flight, flight number, flight delay length and the reasons for the flight delay. If you are unable
                        to
                        provide all of this information, we can help to find out for you.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <h5><b>Can I Claim If I Don't Live in the UK?</b></h5>

                    <p>
                        Absolutely! If your flight was with a British airline company, such as Monarch or the flight in
                        question
                        was to or from an airport situated in England or Wales, it is likely that we can file a claim for
                        you -
                        even if you do not live in the UK currently!
                    </p>
                </div>
                <div class="six columns">
                    <h5><b>Can I Claim with You If I’ve Already Sent a Claim Request to the Airline In Question?</b>
                    </h5>

                    <p>
                        Yes, at any point of the claims process we can step in and help you secure your compensation. We can
                        work with you from the very start, after you’ve sent your letter off to the airline or during the
                        claim
                        compensation dialogue with the airline. Don't let airlines fool you, they will often send you
                        letters
                        stating that your flight compensation claim isn’t valid when it actually is!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <h5><b>How Long Does Claiming Take?</b></h5>

                    <p>
                        This varies depending on the type of claim we file for you and is governed by the specific set of
                        laws
                        applicable to your case. Currently, there's no set timeframe for compensation awards, but typically
                        we
                        say around 4-12 weeks of filing your claim. Airlines are likely to be inundated with large numbers
                        of
                        delay compensation claims.
                    </p>
                </div>
                <div class="six columns">
                    <h5><b>How Far Back Can I Claim?</b></h5>

                    <p>
                        Six years for England & Wales. Five years for Scotland (older claims may expire soon, so be sure to
                        start your claim today)! You can apply for compensation for any past delays, stretching back as far
                        as
                        February 2005.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns u-center">
                    <a class="button button-primary" href="#mainform">Make A Claim</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals -->
    <!-- About Modal -->
    <div id="aboutModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ClaimJet - About</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="eight columns offset-by-two content-box">

                                <p>We are the simple, stress-free way to make your flight compensation claim. As part of the UK’s leading flight delay claim specialists, you can benefit from the strength of our combined skills and experience to recover compensation, even if the airlines have previously refused to pay or ignored you.</p>

                                <p>We see lots of people who have been told by the airline that they do not have a valid claim when they actually do. Our extensive flight stats database means we can very quickly prove the airline is wrong and turn your claim into a winning one.</p>

                                <p>We have so far settled 18670 claims for 45763 passengers, so don’t delay, start your flight delay compensation claim with us today!</p>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Privacy Modal -->
    <div id="privacyModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ClaimJet - Privacy Policy</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="eight columns offset-by-two content-box">

                                <h5><b>Privacy Policy</b></h5>

                                <p>At ClaimJet we recognise that your privacy is important.
                                    We value your trust and confidence and are firmly committed to protecting the privacy of our clients and visitors to our website.
                                    ClaimJet is equally committed to protecting the privacy of the information that it gathers.</p>
                                <p>The following documents describe the privacy practices of ClaimJet.
                                    Below you can find detailed information on when and why we collect personal information,
                                    how we use it and the limited conditions under which we may disclose it to others.
                                    We have provided information on how ClaimJet handles the information it gathers about visitors to the site.
                                    We also include information regarding cookies.</p>

                                <h5><b>1. Cookie Use</b></h5>
                                <p>This website uses cookies. In fact,
                                    most websites you visit will use cookies in order to improve your user experience by enabling that website to ‘remember’ you,
                                    either by creating session cookies (for the duration of your visit) or persistent cookies (for repeat visits).
                                    This makes the interaction between you and the website faster and easier. If a website doesn’t use cookies,
                                    it will think you are a new visitor every time you move to a new page on the site –
                                    for example, when you enter your login details and move to another page it won’t recognise you and it won’t be able to keep you logged in.
                                    Cookies are also used to enable help target advertising or marketing messages based on your location and/or browsing habits.</p>

                                <p>Cookies may be “first party cookies” (set by the website you are visiting) or “third party cookies”
                                    (set by other websites who run content on the page you are viewing).
                                    Third Party cookies assist with collating information to assist with analytics or targeted marketing.</p>

                                <h5><b>What is in a cookie?</b></h5>
                                <p>A cookie is a simple unique text file stored on your computer or mobile device by a website’s server.
                                    Only that website’s service is able to retrieve or read the contents of the cookie.
                                    It will contain some information such as the URL of the website, a unique identifier and some digits and numbers.</p>

                                <h5><b>What to do if you don’t want cookies to be set</b></h5>
                                <p>Some people find the concept of Cookies intrusive. If you prefer, it is possible to block some or all cookies,
                                    or even to delete cookies that have already been set;
                                    but you need to be aware that you might negatively affect the manner in which the website responds to you and may prevent
                                    you from using certain parts of the site.</p>

                                <p>Should you wish to control the manner in which Cookies are handled on your computer,
                                    we suggest consulting the Help section of your browser.</p>

                                <h5><b>2. ClaimJet Web Analytics Service</b></h5>
                                <p>This site uses Inspectlet web analytics service.
                                    The service may record mouse clicks, mouse movements,
                                    scrolling activity as well as any text you type in this website, except text in password fields.
                                    ClaimJet does not collect personally identifiable information that you do not voluntarily enter in this website.
                                    ClaimJet does not track your browsing habits across other web sites or text inputted in password fields.
                                    We are using the information collected by Inspectlet service to improve our website,
                                    make it more user-friendly and monitor that it is performing correctly.</p>

                                <h5><b>3. Client information collected by ClaimJet</b></h5>
                                <p> The information collected by our website may include:</p>
                                <p> i. Any personal details you enter and submit, such as name, address, email address, etc.</p>
                                <p> ii. Your IP address, referrer, web pages that you visit and any other data normally stored in website logs.</p>
                                <p> iii. Session information stored in cookies that are used to ensure accurate data is extracted from our systems.
                                    These cookies do not include any personal data.</p>
                                <p> iv. Under no circumstances will we hold credit card details, expiry date and security codes in our database.</p>
                                <p> v. In order to improve our service telephone calls may be recorded and/or monitored.</p>

                                <h5><b>4. How ClaimJet handles the collected client information</b></h5>
                                <p>Any information we collect will be used in accordance with applicable laws for the following purposes:</p>
                                <p> i. To comply with legal requirements.</p>
                                <p> ii. In certain cases, we may use your email address to send you information about our products and services.
                                    In such a case, you will be offered the option to opt in/out.</p>
                                <p> iii. We may use personal information to provide the ClaimJet’s service.</p>
                                <p> iv. We may use personal information for auditing, research and analysis to operate and improve ClaimJet’s technologies and services.</p>
                                <p> v. We may share aggregated non-personal information with third parties.</p>
                                <p> vi. When we use third parties to assist us in processing your personal information,
                                    we require that they comply with our Privacy Policy and any other appropriate confidentiality and security measures.</p>
                                <p> vii. We may share information with third parties in limited circumstances, including when complying with legal process,
                                    preventing fraud or imminent harm, and ensuring the security of our network and services.</p>
                                <p> viii. When you send email or other communication to ClaimJet,
                                    we may retain those communications in order to process your inquiries,
                                    respond to your requests and improve our services.</p>
                                <p></p>
                                <p>Except as described herein, we do NOT:</p>
                                <p> i. Disclose your information.</p>
                                <p> ii. Share your information with third parties.</p>

                                <h5><b>5. Information security and communication from ClaimJet to clients</b></h5>

                                <p>ClaimJet maintains a strict “no-spam” policy. Your email address will not be sold to a third party.</p>

                                <p>ClaimJet may automatically add your email address to our mailing list to which we may send emails containing news,
                                    announcements, new feature information and other ClaimJet related information.
                                    You can at any time unsubscribe to this mailing list by selecting the unsubscribe option within the email.</p>
                                <p>Because some communication with our clients is necessary to adequately provide our services,
                                    clients cannot opt-out of receiving administrative emails related to their matters.
                                    Such email may include confirmation of a registration or purchase, account status emails,
                                    or communication during the process.</p>
                                <p>We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data.
                                    These include internal reviews of our data collection,
                                    storage and processing practices and security measures,
                                    as well as physical security measures to guard against unauthorized access to systems where we store personal data.</p>
                                <p>We restrict access to personal information to ClaimJet employees,
                                    contractors and agents who need to know that information in order to operate, develop or improve our services.
                                    These individuals are bound by confidentiality obligations and may be subject to discipline,
                                    including termination and criminal prosecution, if they fail to meet these obligations.</p>
                                <p>If ClaimJet becomes involved in a merger, acquisition, or any form of sale of some or all of its assets,
                                    we will provide notice before personal information is transferred and becomes subject to a different privacy policy.</p>
                                <p></p>
                                <p>When we receive formal written complaints posted using our contact page,
                                    it is ClaimJet’s policy to contact the complaining user regarding his or her concerns.
                                    We will cooperate with the appropriate regulatory authorities, including local data protection authorities,
                                    to resolve any complaints regarding the transfer of personal data that cannot be resolved between ClaimJet and an individual.</p>

                                <h5><b>6. Policy Modifications</b></h5>
                                <p>We may change this Privacy Policy from time to time. When ClaimJet makes changes to this Privacy Policy,
                                    the updated version will be posted on this page. We encourage you to visit this page periodically.</p>

                                <h5><b>7. Contacting us about Privacy</b></h5>
                                <p>If you have any questions about our privacy statement, the information we have collected from you online,
                                    the practices of this website, or your dealings with this website, please contact us by using our contact form.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Terms Modal -->
    <div id="termsModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ClaimJet - Terms & Conditions</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="eight columns offset-by-two content-box">
                                <h5><b>Fee:</b></h5>

                                <p>You will only have to pay if your claim is successful. For successful claims,
                                    the maximum charge is at 29% + £25 per person* (plus Applicable VAT).</p>

                                <h5><b>Agreement:</b></h5>

                                <p>The Agreement entitles ClaimJet to act on behalf of the Customer in seeking Compensation under the Regulation.</p>

                                <p>The Agreement does not constitute any certainty over the success of the Claim nor does it create grounds for any loss
                                    or damage on the side of the Customer.</p>

                                <p>The Agreement is only valid if or when ClaimJet accepts the Customer's Order, or if ClaimJet starts to carry out the Order.</p>

                                <p>ClaimJet reserves the right to refuse any Order.</p>

                                <p>The Customer shall not pursue the Claim personally nor shall it instruct any other third party to pursue the
                                    Claim without the prior written approval of ClaimJet</p>

                                <p>By entering into the Agreement with ClaimJet the Client declares that he/she is authorised to enter into the Agreement or give the Order.</p>

                                <p>The ClaimJet Privacy Policy forms part of the Agreement. This can be found on our Website.</p>

                                <p>After this Agreement has been entered into by the Customer and ClaimJet any subsequent agreement from the airline to compensate the customer,
                                    however phrased by the airline, shall be deemed the result of ClaimJet intervention on behalf of the customer,
                                    therefore all contractual obligations between ClaimJet and the customer will be applicable.</p>

                                <h5><b>Data and information from the Customer and communication:</b></h5>

                                <p>The Customer must always supply and submit accurate information and data to ClaimJet.
                                    The Customer understands that submitting incorrect data may cause damage or loss to ClaimJet and affect execution of the Agreement.
                                    The Customer guarantees that the data and information provided, including valid email addresses, are complete and accurate.</p>

                                <p>All incidents of knowingly providing false and untrue data/information and of fraud in any manner whatsoever must be notified.</p>

                                <p>The Customer agrees to fully indemnify ClaimJet in all respects for all third-party claims including, but not limited to,
                                    incorrect client communications and/or provision of incorrect data/information and/or fraudulent conduct.</p>

                                <h5><b>Disclaimer:</b></h5>

                                <p>ClaimJet makes no warranty or representation that the website or software will meet your requirements,
                                    that it will be of satisfactory quality, that it will be fit for a particular purpose,
                                    that it will not infringe the rights of third parties, that it will be compatible with all systems,
                                    that it will be secure and that all information provided will be accurate.</p>

                                <p>Your Claim may not be successful. ClaimJet is expressly not liable for any unsuccessful Claim.</p>

                                <p>The Website or any part of it is not intended to provide advice,
                                    it should not be relied upon when making any decision or taking an action of any kind.</p>

                                <p>ClaimJet deals with data supplied by third parties. As a result,
                                    information or results shown on the Website or received from us may not be relied upon or seen as completely accurate.</p>

                                <p>ClaimJet accepts no liability for any disruption or non-availability of the Website or software resulting from external causes including,
                                    but not limited to, ISP equipment failure, host equipment failure, communications network failure, power failure, natural events,
                                    acts of war or legal restrictions and censorship.</p>

                                <p>ClaimJet is not liable for any loss that may arise from
                                    inaccurate or incomplete information received from the Client.</p>

                                <p>ClaimJet is not liable for any loss for the quality or the manner its work and service are carried out.</p>

                                <p>Without prejudice to the Terms and Conditions,
                                    ClaimJet liability to the Customer or any third party shall never exceed the assumed or
                                    invoiced value of the Remuneration (including VAT).</p>

                                <p>The provisions of the preceding paragraphs do not affect the statutory liability of ClaimJet on the basis of mandatory legal provisions.</p>

                                <h5><b>Personal data</b></h5>

                                <p>Any personal or other data received from the Customer or any third party is used for the purposes of the Claim for
                                    Compensation and to fulfill the means of the Agreement. ClaimJet complies with provisions of the privacy laws and
                                    namely with the relevant Data Protection Act.</p>

                                <p>ClaimJet is authorised to alter the Terms and Conditions and/or set supplementary conditions.</p>

                                <p>In the event that any party to the Terms and Conditions fails to exercise any right or remedy contained herein,
                                    this shall not be construed as a waiver of that right or remedy.</p>

                                <p>In the event of any conflict between the Terms and Conditions and any prior versions thereof,
                                    the provisions of the Terms and Conditions shall prevail unless it is expressly stated otherwise.</p>

                                <h5><b>Applicable law</b></h5>

                                <p>All contracts and dealings with ClaimJet entered into are governed by the law of England and Wales.
                                    Any disputes to the Terms and Conditions,
                                    the Agreement or any other contractual relations shall be resolved and settled by the relevant court in England.</p>


                                <!--Privacy Policy-->

                                <!--Use of your information:-->

                                <!--We will hold and use the following details about you:-->
                                <!-- - your name, address, phone number, email address, date of birth; details of your flight;-->
                                <!-- - details of when you contact us and when we contact you;-->
                                <!-- - as well as any other information which we reasonably need to make a claim on your behalf-->


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- END Modals -->
</template>