<template name="layoutManage">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{pathFor 'manageIndex'}}">ClaimJet - Manager</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{#if currentUser}}
                    {{#if isInRole 'operator'}}<li><a href="{{pathFor 'agentFlow'}}">Agent Flow</a></li>{{/if}}
                    {{#if isInRole 'admin'}}<li><a href="{{pathFor 'tools'}}">Tools</a></li>{{/if}}
                    {{#if isInRole 'admin, manager'}}<li><a href="{{pathFor 'clientFormsList'}}">Claim Forms</a></li>{{/if}}
                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons }}
            </ul>
            {{> notifications}}
        </div>
    </div>


    <div id="main">
        {{> yield}}
    </div>

</template>

