<template name="layoutHome">
    <head>
        <link rel="stylesheet" href="skeleton/skeleton.css">
    </head>
    <header>
        <div class="container u-full-width">
            <div class="row">
                <div class="four columns">
                    <ul>
                        <li class="title"><a href="{{pathFor 'homeIndex'}}">ClaimJet</a></li>
                        <li class="u-pull-left"><img src="images/logo.png"
                                                     style="padding:1em; width:25px; height: 25px;"/>
                        </li>
                    </ul>
                </div>
                <div class="eight columns">
                    <ul id="nav" class="u-pull-right">
                        <li><a href="{{pathFor 'homeIndex'}}">HOME</a></li>
                        <!--<li><a href="manage_index.html">CORPORATE</a></li>-->
                        <li><a href="#section-1">HOW DO I CLAIM</a></li>
                        <li><a href="#faq">FAQ</a></li>
                        <!--<li><a href="manage_index.html">TERMS & CONDITIONS</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {{> yield}}
    <footer>
        <div class="container">
            <div class="row">
                <div class="ten columns offset-by-one">
                    *€600 is the max compensation available per passenger, at time of publication this converted to £510 but could slightly differ depending on current exchange rates Copyright 2016 www.claimjet.com - All Rights Reserved.
                </div>
            </div>
            <div class="row">
                <div class="ten columns offset-by-one u-center">
                    <a href="#" data-toggle="modal" data-target="#aboutModal">About Us</a> |
                    <a href="#" data-toggle="modal" data-target="#termsModal">Terms & Conditions</a> |
                    <a href="#" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a> |
                    <a href="#mainform">Contact Us</a>
                </div>

            </div>
        </div>
    </footer>

</template>