<template name="restricted">


    <!-- content -->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-12">
                <div class="centering text-center error-container">
                    <div class="text-center">
                        <h2 class="without-margin">Don't worry. It's <span class="text-warning"><big>403</big></span> error only.</h2>
                        <h4 class="text-warning">Access denied</h4>
                    </div>
                    <div class="text-center">
                        <h3><small>Choose an option below</small></h3>
                    </div>
                    <hr>
                    <ul class="pager">
                        <li><a href="{{pathFor 'homeIndex'}}">&larr; Home</a></li>
                        <li><a href="{{pathFor 'manageIndex'}}">Managment Login</a></li>
                        <li><a href="{{pathFor 'agentIndex'}}">Agent Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="navbar navbar-footer navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <footer role="contentinfo">
                        <p class="left">ClaimJet</p>
                        <p class="right">&copy; 2016 <a href="http://www.claimjet.com" target="_blank">www.claimjet.com</a></p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</template>