<template name="afObjectField_expense">
    {{#with afFieldLabelText name=this.name}}
        <div class="panel-heading {{headingClass}}">
            <h3 class="panel-title">{{this}}</h3>
        </div>
    {{/with}}
</template>