<template name="afS3Image">
    <div class="text-center">
        <img src="{{this.value}}" alt="document" class="img-thumbnail">
        <input type="text" class="form-control" value="{{this.value}}" {{this.atts}}/>
    </div>
</template>