<template name="clientFormsList">
    <div class="container">
        {{#each allClaims}}
            {{> claimItem }}
        {{/each}}
    </div>
    {{>claimTemplateModal}}
</template>

<template name="claimItem">
    <div class="panel panel-default">
        <div class="panel-heading" id="claimDetails">
            <div class="text-left">
                <h3>
                    {{#if formComplete}}
                        <span class="label label-success">COMPLETE</span>
                    {{/if}}

                    <span class="label label-info">{{client.firstname}} {{client.surname}}</span>
                    <span class="label label-info"></span>
                    <span class="label label-success">{{flight_value}}</span>
                    <span class="label label-default">{{startedDate}}</span>
                </h3>
            </div>
            <div class="text-right">
                <button class="btn btn-block btn-warning" data-toggle="collapse"
                        data-target="#editClaim-{{_id}}">View/Edit
                </button>
                <button class="btn btn-block btn-success generateTemplate"
                        id="{{_id}}">Generate a Claim Template
                </button>

            </div>
        </div>
        <div class="panel-body collapse" id="editClaim-{{_id}}">
            {{> quickForm collection="ClientForms" doc=this id="updateClaimForm" type="update"}}
        </div>
    </div>
</template>

<template name="claimTemplateModal">
    <div class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Flight Claim #{{calimId}} Template</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-8 col-md-8 col-xs-8">
                                <h1></h1>
                                <p>[insert your name, address, email address and phone number]
                                    {{#with fillObj.claim.client}} {{firstname}} {{surname}}, {{email}}, {{telephone.number}} {{/with}}  </p>
                                <p>[insert date]: {{fillObj.date}}</p>
                                <p>[insert name and address of airline] {{fillObj.airline.Name}}</p>
                                <p></p>
                                <p> Dear Sir or Madam,</p>
                                <p></p>
                                <p>Re: Compensation claim for delayed flight</p>
                                <p>Booking reference: [insert booking reference number] {{fillObj.claim.bookingReference}}</p>
                                <p></p>
                                <p>{{#with fillObj.claim}}I am writing regarding flight [insert flight number]{{flightNumber}} on [insert date]{{scheduledDepartureDate}} {{/with}}
                                    from {{#with fillObj.flight}} [insert departure airport] {{depAptCode}}  to [insert arrival airport] {{arrAptCode}} with the scheduled departure time of [insert scheduled departure time] {{schdDepDate}}.
                                        This flight arrived [insert number of hours]{{actDelayHours}} hours late at [insert airport] {{arrivalAirport}}. {{/with}}</p>

                                <p>The judgment of the Court of Justice of the European Union in Tui & others v CAA confirmed
                                    the applicability of compensation for delay as set out in the Sturgeon case.
                                    As such, I am seeking compensation under EC Regulation 261/2004 for this delayed flight.</p>

                                <p> The passengers in the party were:</p>
                                <p>[insert the full names of everyone on your booking]</p>
                                <ul class="list-unstyled">
                                    {{#with fillObj.claim.client}}
                                        <li>  {{firstname}} {{surname}} </li>
                                        {{#each companions}}
                                            <li> {{fullName}}</li>
                                        {{/each}}
                                    {{/with}}
                                </ul>
                                <p></p>
                                <p>My scheduled flight length was [insert number of kilometres]{{fillObj.distance}} , therefore I am seeking [select from €250 / €300 / €400 / €600] {{fillObj.claim.flight_value}} per delayed passenger in my party.
                                    The total is [insert total compensation sum for all passengers] {{fillObj.claim.totalValue}} for all passengers.</p>
                                <p></p>
                                {{#if fillObj.claim.didntFly}}

                                    <h4>THIS TEXT TO BE INCLUDED WHERE REFUND FOR A DELAYED FLIGHT HAS NOT BEEN PAID</h4>

                                    <p>[If you opted for a refund for a delayed flight, which hasn’t yet been paid then use the following text. If not, delete] </p>
                                    <p> The flight was also delayed over five hours and as I decided not to fly I’m also seeking a refund for the cancelled flight ticket/s.
                                    I’m seeking a refund of [insert flight cost] {{fillObj.claim.ticketPrice}} per passenger in my party, which I’ve not yet received from the airline.
                                    The total is [insert total refund for all passengers] {{fillObj.claim.totalTicketValue}} for all passengers. </p>
                                {{/if}}
                                {{#if fillObj.claim.hadExpenses}}
                                    <h4>THIS TEXT TO BE INCLUDED WHERE THE CUSTOMER STATES THAT THEY HAVE HAD TO PAY FOR FOOD AND/OR ACCOMMODATION FOLLOWING THE DELAY OF A FLIGHT</h4>
                                    <p></p>
                                    <p>[Use this section to claim refreshments or hotel accommodation, or delete]</p>
                                    <p></p>
                                    <p>During the delay the passengers in my party were not provided with any
                                        [select from refreshments / hotel accommodation] and I have attached receipts for the cost of purchasing our own.
                                        Please refund [list everything you paid for and the costs].</p>
                                    <ul class="list-unstyled">
                                        {{#each fillObj.claim.expenses}}
                                            <li>{{expense}} - {{amount}} ({{currency}})</li>
                                        {{/each}}
                                    </ul>
                                    <p></p>


                                    <p></p>
                                    <h4>THIS TEXT TO BE INCLUDED WHERE MULTIPLE COSTS NEED TO BE INCLUDED (FOOD/HOTEL/COMPENSATION ETC)</h4>
                                    <p></p>
                                    <p>[For claims where you are claiming for more than one element, eg, food and compensation]</p>
                                    <p></p>
                                    <p>The total compensation sought is [insert total amount of all costs added together – you may need to split these out if in different currencies].</p>
                                {{/if}}
                                <p></p>
                                <p>I look forward to a full response to this letter within 14 days. If I do not receive a satisfactory response I intend to pursue my complaint further, which could mean taking it to court.</p>
                                <p></p>
                                <p>Yours faithfully,</p>
                                <p></p>
                                <p> [insert your signature]</p>
                                <p></p>
                                <p>[insert your name (printed)]  {{#with fillObj.claim.client}} {{firstname}} {{surname}} {{/with}}</p>
                                <p></p>
                                <p>[Enclose ALL relevant evidence for your complaint, eg, previous letters, booking confirmation or a copy of your ticket]</p>
                                <ul class="list-unstyled">
                                    {{#each fillObj.claim.uploads}}
                                        <li><a href="{{url}}">{{url}}</a></li>
                                    {{/each}}
                                </ul>
                                <p></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</template>